*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    height: 100%;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: black;
}
.navbar .logo h1{
    color: white;
    cursor: pointer;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;
}
.navbar .menu li .a:hover{
    border-bottom: 4px solid #f63e4e;
}
.pape{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #424144;
    height: 100vh;
}
.pape h1{
    font-size: 40px;
}
.pape p{
    font-size: 20px;
    margin-top: 20px;
}
.pape button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color:  rgba(111, 13 ,175, 0.3);
    border-radius: 5px;
    cursor: pointer;
}
.produits_texte{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 80px;
    color: #424144;
}
.section_produits{
    padding: 40px 5%;
}
.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.produits .carte{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0 ,0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.produits .carte img{
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}
.produits .carte .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.produits .carte .titre{ 
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.produits .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.produits .carte .prix{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}
.produits .carte .achat{
    font-size: 13px;
    font-weight: 900;
    color: #f63e4e;
    padding: 10px 18px;
    border-radius: 5px;
}
.produits .carte .box .achat:hover{
    cursor: pointer;
    background: black;
    color: white;
}
footer{
    background: #f3f4f6;
    height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
}

:root{
    --hauteur-menu: 60px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }
nav{
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul{
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}
   
nav ul{
    list-style-type: none;
}
  
nav > ul > li{
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
li a{
    text-decoration: none;
    color: black;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
  
.sous-menu > li > a{
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: #2169EC;
}
  
.sous-menu > li:hover{
    background-color: rgba(33, 105, 236, 0.3);
}
  
  .sous-menu > li:hover > a{
    color: white;
}

@keyframes rotationFleche{
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}
  
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
} 

@keyframes apparitionSousMenu{
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

.menu-deroulant:hover > .sous-menu{
    animation: apparitionSousMenu 1s forwards;
}